body{
    margin:45px auto;
}
.wrap{
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.profile-box{
    display: flex;
    flex-wrap: wrap;
}
.profile-info{
    padding-left: 15px;
}
.profile-img{
    flex:1 0 0%;
    max-width:200px;
}
.profile-info{
    flex:1 0 0%;
}
table{
    border:solid 2px #999;
    border-spacing: 0;
    width: 50%;
}
table tr th,
table tr td{
    border-right:solid 1px #999;
    border-bottom: solid 1px #999;
    padding: 5px 8px;
}
table tr th:last-child,
table tr td:last-child{
    border-right:none;
}
table tr:last-child td{
    border-bottom:none;
}

.map-ifream iframe{
    width: 100%;
}